<!-- DOCTYPE HTML -->

<html>

	<body>
		<h1>HOME</h1>
	</body>

</html>

<!-- 
<html>
  <head><title>Redirecting...</title></head>
  <body>
  <form action='%s' method='post' name="payu">
      <input type="hidden" name="firstname" value="%s" />
      <input type="hidden" name="surl" value="%s" />
      <input type="hidden" name="phone" value="%s" />
      <input type="hidden" name="key" value="%s" />
      <input type="hidden" name="hash" value ="%s" />
      <input type="hidden" name="curl" value="%s" />
      <input type="hidden" name="furl" value="%s" />
      <input type="hidden" name="txnid" value="%s" />
      <input type="hidden" name="productinfo" value="%s" />
      <input type="hidden" name="amount" value="%s" />
      <input type="hidden" name="email" value="%s" />
      <input type="hidden" value="submit">
  </form>
  </body>
  <script language='javascript'>
  window.onload = function(){
   document.forms['payu'].submit()
  }
  </script>
</html> -->