<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link href="/static/css/main.css" rel="stylesheet" type="text/css" >
</head>
<body>
<div class="page-header">

  <div class="container-fluid">
    <div class="row">
     <div class="col-md-3 col-sm-12">
      
       <a href=#>qwerty</a>
      
     </div>
     <div class="col-md-7 col-sm-10">
      <nav class="navbar navbar-default ">
      <div id="navbar" class="container-fluid nav-container">
       <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      
       </div>
       <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li  ><a href="#">HOME</a></li>
		

        <li ><a href="#">PRODUCTS</a></li>
        <li ><a href="#">EVENTS</a></li> 
        <li ><a href="#">BLOG</a></li>
        <li ><a href="faq.html">FAQS</a></li> 
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
		   <li><a href="contact_cust.html"> Customer</a></li>
		   <li><a href="contact_dealer.html">Dealer</a></li>
		   <li><a href="contact_seller.html"> Seller</a></li>
		  </ul>
		 
		
		</li>
      </ul>
      </div>
      
     </div>
      </nav>
     </div> 
     <div class="col-md-2 col-sm-2">
       <ul class="nav navbar-nav ">
        <li><a href="#"><span class="glyphicon glyphicon-user" onclick="document.getElementById('id01').style.display='block'"></span> </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
      </ul>
     </div>
   </div> 
 </div>
</div>

<div class="container">
  <h2> Cart</h2>
  <div class="cart-contents table-responsive" style="border:1px solid;">
    <table class="table">
      <thead>	
	    <tr>
		 <th></th>
		 <th>Product</th>
		 <th>Price</th>
     <th>Discount</th>
     <th>Rate</th>
		 <th>Quantity</th>
		 <th>Total</th>
     <th></th>
		</tr>
	  </thead>
	  <tbody>
	   

    <!-- first row starts -->
   <!--   <tr>
	    <td><img src="s3.jpg" style="width:100px; height:100px; margin-left:20%;" ></td>
		<td>Amla Juice</td>
		<td> 250</td>
    <td> 10%</td>
		<td> <input type="number" id="quantity" class="form-control"  min="1" style="width:50px;" value="1"></td>
		<td id="total"> </td>
	   </tr> -->

     <!-- first row ends -->

      <!--  <tr>
	    <td><img src="s3.jpg" style="width:100px; height:100px; margin-left:20%;" ></td>
		<td>Amla Juice</td>
		<td> 250</td>
		<td> <input type="number" id="quantity" class="form-control"  min="1" style="width:50px;" value="1"></td>
		<td id="total"> </td>
	   </tr>	 --> 
     {{data|safe}}  
       	   
	  </tbody>
	</table>
  <a href="http://127.0.0.1:8000/">
	 <button type="button" class="btn btn-success btn-large" style="margin-left:70%;margin-bottom:2%;">Continue Shopping

   </button>
   </a>
	 
  </div>
 <!--<script>
   var x=document.getElementById("price").value;
   var y=document.getElementById("quantity").value;
   var z=parseInt(x)*parseInt(y);
   document.getElementById("total").innerHTML= z;
 </script>-->
 <div id="cart-total">
  <h3>Cart Total</h3>
  <div id="cart-det table-responsive" style="border:1px solid;">
    <table class="table">
	 <tbody>

	   <tr>
	    <th> Cart Subtotal</th>
	    <td> {{a_total}}</td>
	   </tr>
     
	   <tr>
	    <th> Shipping Charges</th>
	    <td>{{s_total}}</td>
	   </tr>
	   <tr>
	    <th> Cart Total</th>
	    <td> {{g_total}}</td>
	   </tr>
	 </tbody> 
	</table>
   </div>
   <a href="http://127.0.0.1:8000/checkout/">
   <button type="button" class="btn btn-success btn-large" style="margin-top:3%;"> Proceed to checkout</button>
    </a>
 </div>
  <style>
    .table th, .table td { 
        border-top: none !important;
        border-left: none !important;
    }
	.table > tbody > tr > td {
     vertical-align: middle;
}

</style>

</div>
<div class="container-fluid footer" style="margin-top:5%;">

     <div class="row">
	 
      <div class="col-md-3" >
       <h3>About</h3>
       <p> One of the Pioneers in the field of ayurveda medicine and in house product</p>
      </div>
      <div class="col-md-3">
        <h3>Information</h3>
        <ul >
         <li style="list-style:none"><a href=# style="text-decoration:none;color:#ffffff;"><span>FAQS</span></a></li>
         <li style="list-style:none" ><a href=# style="text-decoration:none;color:#ffffff;"><span>BLOGS</span></a></li>
        <ul>
      </div>
      <div class="col-md-3">
        <h3>Contact Us</h3>
        <span>Elex gallery ,Floor no.-2,Elex Department,NIT Raipur,Chhattisgarh</span>     
      </div>
      <div class="col-md-3"></div>
	  
    
     </div>
</div>
</body>
</html>